@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Montserrat:ital,wght@0,600;0,700;1,500;1,700;1,800&family=Poppins:ital,wght@0,700;0,800;1,700;1,800&display=swap');



*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}

.header{
left: 0;
right:0;
width:100%;
padding: 30px 5%;
background-color: transparent;
position: fixed;
display: flex;
z-index: 100;
}

.logo{
color: #123;
text-decoration: none;
font-size: 30px;
font-weight: 700;
}

.social-media{
margin: 0 auto  0  50px;

}

.social-media a{
display: inline-flex;
text-decoration: none;
background: transparent;
border: 2px solid #fff;
border-radius: 6px;
width: 40px;
height: 40px;
justify-content: center;
align-items: center;
margin-right: 15px;
transition: 0.5s;
}

.social-media a:hover{
background-color: #fff;


}

.social-media a i{
color: #fff;
font-size: 20px;
transition: 0.5s;
}

.social-media a:hover i{
color: #444;
}

.nav a{
color: #fff;
text-decoration: none;
font-size: 20px;
margin-left: 30px;
font-weight: 600;
text-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
nav a:hover{
    color: #444;
}

nav {
    margin-top: 10px;
}

.banner {
position: relative;
width: 100%;
height: 100vh;
}
.slider .slide {
position:absolute;
width: 100%;
height: 100%;
}

.slide img{
width: 100%;
height: 100%;
object-fit: cover;
pointer-events: none;
opacity: 0;
transition: 3s ease;
}
.slide.active img{
opacity: 1;
}

.left-info {
position: absolute;
width: 50%;
height: 100%;
top: 0;
left: 0;
transform: translateX(-100%);
transition: 0.5s;

}


.slide.active .left-info {
    transform: translateX(0);
    z-index: 1;
    transition: .5 ease;
}

.left-info .blur{
position: absolute;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, .1);
backdrop-filter: blur(20px);
justify-content: flex-end;
display: flex;
align-items: center;
-webkit-mask: linear-gradient(#000 0 0) , linear-gradient(#000 0 0);
-webkit-mask-clip: text , padding-box;
-webkit-mask-composite: xor ;
padding-right: 20px;
}
.blur h1{
font-size: 250px;
text-shadow: 0 0 10px rgba(255, 255, 255, .8);
}
.left-info .content{
position: absolute;
bottom: 8%;
left: 10%;
color: #fff;
}
.content h3{
font-size: 30px;
}
.content p {
font-size: 16px;
margin: 10px 0 15px;
}
.content .btn{
text-decoration: none;
font-size: 15px;
display: inline-block;
padding: 15px 28px;
background-color: #fff;
border: 2px solid #fff;
border-radius: 6px;
box-shadow: 0 0 10px rgba(0, 0, 0, .1);
font-size: 18px;
font-weight: 600;
color: #444;
text-decoration: none;
transition: 0.5s;
}

.content .btn:hover{
background-color: transparent;
color: #fff;

}

.right-info{
position: absolute;
top: 0;
right: 0;
width: 50%;
height: 100%;
align-items: center;
display: flex;
transform: translateX(100%);
transition: 0s;
}

.slide.active .right-info{
z-index: 1;
transform: translateX(0);
transition: .5s ease;
}


.right-info h1{
font-size: 250px;
color: #fff;
text-shadow: 0 1px 0 #ccc,0 2px 0 #c9c9c9,  0 3px 0 #bbb,  0 4px 0 #b9b9b9,0 5px 0 #aaa ,0 6px 1px rgba(0, 0, 0, .1),
0 0 5px rgba(0, 0, 0, .1),
0 1px 3px rgba(0, 0, 0, .3),
0 3px 5px rgba(0, 0, 0, .2),
0 5px 10px rgba(0, 0, 0, .25),
0 10px 10px rgba(0, 0, 0, .2),
0 20px 20px rgba(0, 0, 0, .15);

}
.right-info h3{
    position: absolute;
font-size: 80px;
color: #fff;
text-shadow: 0 0 10px rgba(0, 0, 0, .5);
transform: translateY(150%);
margin-left: 15px;
}
.navigation{
position: absolute;
bottom: 8%;
right: 5%;
z-index: 99;
}
.navigation span{
background-color: #fff;
display: inline-flex;
width: 50px;
justify-content: center;
align-items: center;
height: 50px;
border: 2px solid #fff;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, .5);
margin-left: 25px;
cursor: pointer;
transition: 0.5s;
}

.navigation span:nth-child(1){

background: transparent;

} 

.navigation span:nth-child(1):hover{
background-color: #fff;

}

.navigation span i{
font-size: 45px;
color: #444;
transition: 0.5s;
}

.navigation span:nth-child(1) i{

color: #fff;

}
.navigation span:nth-child(1):hover i{

color: #444;

}
.slide:nth-child(1) .blur h1,
.slide:nth-child(4) .blur h1{
    margin-right: -10px;
}


.slide:nth-child(1) .right-info h1,
.slide:nth-child(4) .right-info h1{
margin-right: 10px;


}